<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Framework" version="14.3.0" targetFramework="net451" developmentDependency="true" />
  <package id="Microsoft.Build.Tasks.Core" version="14.3.0" targetFramework="net451" developmentDependency="true"/>
  <package id="Microsoft.Build.Utilities.Core" version="14.3.0" targetFramework="net451" developmentDependency="true"/>
  <package id="Mono.Cecil" version="0.10.0-beta5" targetFramework="net451" />
</packages>
